:root {
    --primary-color: #004663;
    --primary-light: #005a7d;
    --primary-lighter: #e6f0f5;
    --secondary-color: #FF6B35;
    --secondary-hover: #ff5722;
    --text-dark: #2c3e50;
    --text-muted: #6c757d;
}



h2 {
    /* color: var(--primary-color) !important; */
    margin-bottom: 3rem !important;
    font-weight: 700;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}



h2::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(255, 200, 87, 0.5);
}